<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.njy.seeking">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".company.RegisterCompanyActivity" />
        <activity android:name=".company.CompleteCompanyActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".company.CompanyaAddressActivity"
            android:label="@string/title_activity_companya_address" />
        <activity android:name=".company.UpdateCompanyProfileActivity" />
        <activity android:name=".company.EditCompanyProfileActivity" />
        <activity
            android:name=".company.CompanyHomeActivity"
            android:label="@string/title_activity_company_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".company.CreateVacancyActivity" />
        <activity android:name=".company.LoginCompanyActivity" />
        <activity android:name=".company.VacancyDetailActivity" />
        <activity android:name=".seeker.RegisterJobSeekerActivity" />
        <activity android:name=".seeker.CompleteSeekerActivity" />
        <activity android:name=".seeker.CompleteSeekerCertificationActivity" />
        <activity android:name=".seeker.CompleteSeekerWorkActivity" />
        <activity android:name=".seeker.LoginJobSeekerActivity" />
        <activity
            android:name=".seeker.SeekerHomeActivity"
            android:label="@string/title_activity_seeker_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".seeker.VacancyDetailSeekerActivity"
            android:label="@string/title_activity_vacancy_detail_seeker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".seeker.CertificationDetailActivity"
            android:label="@string/title_activity_certification_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".company.ApplicantDetailActivity" />
        <activity android:name=".company.ApplicantActivity" />
        <activity
            android:name=".UserHomeActivity"
            android:label="@string/title_activity_user_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExamActivity"></activity>
    </application>

</manifest>